body{
    background-color: bisque;
    font-family: Arial, sans-serif;
}

 .container {
width: 80%;
margin: auto;
text-align: center;
 }

 .profile img {
    width: 150px;
    border-radius: 50%;
 }
 h1 {
    color: darkblue;
 }

 .skills {
    margin-top: 20px;
 }

 .skills ul {
    list-style: none;
    padding: 0%;
 }

 .skills li{
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
 }

 .contact button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
 }

 .contact button:hover{
    background-color: black;
 }